{{define "data_process_head"}}
	{{template "bucket_box_head" .}}
		{{$bucketName := .GET.Get "bucket"}}
			<div class="cnt right-main-layout">
				<div class="left-cnt">
					<ul class="choices">
						<a href="/data-process/image-process{{with $bucketName}}?bucket={{.}}{{end}}" class="choice"><li>
							<h4 class="choice-title">图片处理</h4>
						</li></a>
						{{/*}}
						<a href="/data-process/audio-process{{with $bucketName}}?bucket={{.}}{{end}}" class="choice"><li>
							<h4 class="choice-title">音频处理</h4>
						</li></a>
						<a href="/data-process/service-market{{with $bucketName}}?bucket={{.}}{{end}}" class="choice"><li>
							<h4 class="choice-title">数据服务市场</h4>
						</li></a>
						{{*/}}
					</ul>
				</div>
				<div class="right-cnt">
{{end}}

{{define "data_process_foot"}}
				</div>
			</div>
	{{template "bucket_box_foot" .}}
{{end}}