{{template "header_main" .}}
<div class="main data-process-service-market">
{{template "data_process_head" .}}
					<div class="tabs-box service-market">
						<ul class="tabs-header service-types">
							<li class="tab-header service-type current">type1</li>
							<li class="tab-header service-type">type2</li>
						</ul>
						<ul class="tabs-body types-services">
							<li class="tab-body type-services current">
								<ul class="services">
									<li class="service">
										<img class="service-pic" src="">
										<h3 class="service-name">service1 of type1</h3>
										<p class="service-intro">This is service1 of type1This is service1 of type1This is service1 of type1This is service1 of type1</p>
										<ul class="service-links">
											<li><a class="service-link" href=""><i class="icon-xxx"></i>HOST</a></li>
											<li><a class="service-link" href=""><i class="icon-xxx"></i>USE</a></li>
											<li><a class="service-link" href=""><i class="icon-xxx"></i>DOC</a></li>
										</ul>
										<ul class="service-ops">
											<li><a class="btn service-op"><i class="icon-xxx"></i>Store</a></li>
											<li><a class="btn service-op"><i class="icon-xxx"></i>USE</a></li>
										</ul>
									</li>
									<li class="service">
										<img class="service-pic" src="">
										<h3 class="service-name">service1 of type1</h3>
										<p class="service-intro">This is service1 of type1This is service1 of type1This is service1 of type1This is service1 of type1</p>
										<ul class="service-links">
											<li><a class="service-link" href=""><i class="icon-xxx"></i>HOST</a></li>
											<li><a class="service-link" href=""><i class="icon-xxx"></i>USE</a></li>
											<li><a class="service-link" href=""><i class="icon-xxx"></i>DOC</a></li>
										</ul>
										<ul class="service-ops">
											<li><a class="btn service-op"><i class="icon-xxx"></i>Store</a></li>
											<li><a class="btn service-op"><i class="icon-xxx"></i>USE</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="tab-body type-services">
								<ul class="services">
									<li class="service">service of type2</li>
								</ul>
							</li>
						</ul>
					</div>
{{template "data_process_foot" .}}
</div>
{{template "footer_main" .}}