{{define "bucket_box_head"}}
{{$bucketName := .GET.Get "bucket"}}
{{with $bucketName}}
<script type="text/javascript">
var _bucketName = "{{.}}";
</script>
{{end}}
	<div class="center-content">
		<div class="box">
			<div class="opt">
				{{template "bucket_bucket_choices" .}}
				<div class="right-op bucket-box-op">
					<ul id="box-right-ops" class="ops">
						<a href="/bucket/index{{with $bucketName}}?bucket={{.}}{{end}}" class="op" ><li class=""><i class="icon-box"></i>空间</li></a>
						<a href="/resource/{{with $bucketName}}?bucket={{.}}{{end}}" class="op" ><li class=""><i class="icon-cloud"></i>内容管理</li></a>
						<a href="/bucket/report/{{with $bucketName}}?bucket={{.}}{{end}}" class="op" ><li class=""><i class="icon-form"></i>报表</li></a>
						<a href="/data-process/{{with $bucketName}}?bucket={{.}}{{end}}" class="op" ><li class=""><i class="icon-pencils"></i>数据处理</li></a>
						<a href="/bucket/setting/{{with $bucketName}}?bucket={{.}}{{end}}" class="op" ><li class=""><i class="icon-setting"></i>空间设置</li></a>
					</ul>
				</div>
			</div>
{{end}}

{{define "bucket_box_foot"}}
	</div>
</div>
{{end}}