{{define "header_main"}}{{template "header" .}}
{{$umail := .Session.userinfo.Email}}
{{$token := .Session.token}}
<div id="top-tip" class="top-tip"></div>
<div id="curtain-bg" class="curtain-bg"></div>
<div class="header">
	<div class="center-content">
		<a href="/">
			<div class="logo"></div>
		</a>
		<div class="main-header">
			{{if $token}}
			<script>
			var _mail = "{{$umail}}";
			</script>
			<div id="account-ops" class="account-ops">
				<div id="account-op" class="account-op first">
					<span class="account-info">{{$umail}}</span>
					<i class="icon-down"></i>
				</div>
				<ul class="hidden-ops">
					<a class="no_style setpwd account-op" href="/setting/">
						<li>
							帐号设置
						</li>
					</a>
					<a class="no_style logout account-op" href="/signout">
						<li>
							退出登录
						</li>
					</a>
				</ul>
			</div>
			{{end}}
			<ul class="inline links">
				<li><a href="/">管理控制台</a></li>
				<li><a href="">教程</a></li>
				<li><a href="/develop/">开发者</a></li>
				<li><a href="">问答社区</a></li>
				{{if not $token}}
				<li><a href="/signin">登录帐号</a></li>
				{{end}}
			</ul>
		</div>
	</div>
</div>
{{end}}