{{define "index_box_head"}}
	<div class="center-content">
		<div class="box">
			<div class="opt">
				{{template "index_bucket_choices" .}}
				<div class="right-op index-box-op">
					<ul id="box-right-ops" class="ops">
						<a href="/" class="op" ><li class=""><i class="icon-small-home"></i>首页</li></a>
						<a href="/report/" class="op" ><li class=""><i class="icon-form"></i>报表中心</li></a>
						<a href="/financial/" class="op" ><li class=""><i class="icon-finance"></i>财务</li></a>
						{{/*}}
						<a href="/message/" class="op" ><li class=""><i class="icon-notice"></i>
							<i class="notice-num" data-link="text: noticeNum">0</i>
							消息
						</li></a>
						{{*/}}
						<a href="/setting/" class="op" ><li class=""><i class="icon-setting"></i>帐号设置</li></a>
					</ul>
				</div>
			</div>
{{end}}

{{define "index_box_foot"}}
	</div>
</div>
{{end}}