{{template "header_main" .}}
<div class="main op-resp">
	<div class="center-content">
		<div class="block">
			{{with .Flash}}
			{{with .title}}<h2 class="title">{{.}}</h2>{{end}}
			{{with .info}}<h3 class="info">{{.}}</h3>{{end}}
			{{with .other}}
			{{range .}}
			<h3 class="info">{{.}}</h3>
			{{end}}
			{{end}}
			{{if .action_url}}
			<p class="resp-tip">{{with .jumpTime}}页面将会在{{.}}秒后自动跳转，{{end}}<a href="{{.action_url}}">立即跳转</a></p>
			{{end}}
			{{end}}
		</div>
	</div>	
</div>
{{template "footer_main" .}}
