{{template "header_main" .}}
<script type="text/javascript" src="/static/add-on/base64/jquery.base64.min.js"></script>
<script type="text/javascript" src="/static/add-on/swfupload/swfupload.js"></script>
<script type="text/javascript" src="/static/add-on/swfupload/swfupload.queue.js"></script>
<script type="text/javascript" src="/static/add-on/swfupload/swfupload.speed.js"></script>
<script type="text/javascript" src="/static/theme/default/js/resource/upload/fileprogress.js"></script>
<script type="text/javascript" src="/static/theme/default/js/resource/upload/handlers.js"></script>
		<div class="main resource-index">
			{{template "bucket_box_head" .}}
			<div class="cnt left-main-layout">
				<div class="left-cnt">
					<div class="left-head">
						<a id="upload" class="btn left"><i class="icon-upload"></i>上传</a>
						<input id="searchBucketNamePrefix" class="small left" type="text" placeholder="输入资源名前缀匹配"></input>
						<a id="refresh" class="sp-btn right"><i class="icon-refresh"></i>刷新</a>
						<a id="remove-all" class="sp-btn left hidden-op"><i class="icon-trash"></i>删除</a>
						{{/*}}
						<a class="sp-btn left hidden-op"><i class="icon-download"></i>下载</a>
						<a class="sp-btn left hidden-op">更多操作<i class="icon-down"></i></a>
						<a class="sp-btn right"><i class="icon-setting"></i>设置</a>
						{{*/}}
					</div>
					<div class="left-body">
						<p id="table-bg-word" class="bg-word" data-bind="if: isFilesEmpty">
							<span data-bind="text: currentPrefix()?'查询无结果':'还没有内容，请上传一个文件'"></span>
						</p>
						<table class="files-table" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<th width="42" class="check-col"><input type="checkbox" id="check-all" /></th>
									<th width="300" class="file-name">文件名</th>
									<th width="100">创建时间</th>
									<th width="80">文件大小</th>
									{{/*}}
									<th width="">访问次数</th>
									{{*/}}
								</tr>
								
								<!-- ko foreach: certainPageFiles -->
								<tr class="file-row" data-bind="event: {click: $root.setCertainFile}">
									<td class="check-col">
										<input type="checkbox" class="check-one" />
									</td>
									<td class="file-name">
										<span data-bind="text: $data.name ? $data.name() : ''" class="name"></span>
										<span class="file-ops">
											<a href="" target="_blank" data-bind="attr: {href: $data.url?$data.url():''}"><i title="下载" class="icon-download" op="download"></i></a>
											<i title="清理缓存" class="icon-clean"></i>
											<div title="更多操作" class="icon-down more-ops">
												<div class="more-ops-block">
													<span class="more-op" op="delete">删除</span>
													<span class="more-op" op="rename">重命名</span>
												</div>
											</div>
										</span>
									</td>
									<td data-bind="text: $data.createTime?$data.createTime():''"></td>
									<!-- ko with: $data.size -->
									<td><span class="size-num" data-bind="text: $data.base"></span> <span class="size-unit" data-bind="text: $data.unit"></span></td>
									<!-- /ko -->
								</tr>
								<!-- /ko -->
							</tbody>
						</table>
					</div>
					<div class="left-foot">
						<div class="left-foot-cnt">
							<p class="links">
								<!-- ko if: certainPageIndex() > 0 -->
								<a href="#1" class="first-page-link" id="first-page-link">首页</a>
								<a href="#" class="prev-link" id="prev-link" data-bind="attr: {href: '#'+certainPageIndex()}">上一页</a>
								<!-- /ko -->
								<!-- ko foreach: certainFiles -->
									<!-- ko if: ($index() >= $parent.certainPageRange().min && $index() <= $parent.certainPageRange().max)-->
									<a href="" class="page-link" data-bind='text: $index()+1,css: {"current": ($index() == $parent.certainPageIndex())}, attr: {href: "#"+($index()+1), index: $index}'></a>
									<!-- /ko -->
								<!-- /ko -->
								<!-- ko if: (certainPageIndex() < certainFiles().length-1) || (certainBucketHasMore())-->
								<a href="#" class="next-link" id="next-link" data-bind="attr: {href: '#'+(certainPageIndex()+2)}">下一页</a>
								<!-- /ko -->
							</p>
						</div>
					</div>
				</div>
				<div class="right-cnt">
					<!-- ko ifnot: certainFile -->
					<div class="right-head">
						未选择文件
					</div>
					<div class="right-body">
						<div class="right-body-block">
							<div class="prev-block">
								<span>点击左侧文件名以查看信息</span>
							</div>
						</div>
					</div>
					<!-- /ko -->
					<!-- ko with: certainFile -->
					<div class="right-head">
						<span data-bind="text: $data.name?$data.name():'', attr:{title: $data.name?$data.name():''}"></span>
					</div>
					<div class="right-body">
						<div class="right-body-block">
							<div class="prev-block">
								<!-- ko if: $data.url() && isImage($data.url()) -->
								<a href="" target="_blank" title="点击查看原文件" data-bind="attr: {href: $data.url()}">
									<img class="file-prev" data-bind="attr: {src: $data.url()+'&imageView/2/w/203/h/203'}"></img>
								</a>
								<!-- /ko -->
								<!-- ko ifnot: $data.url() -->
								<span data-bind="text: $data.url()===''?'无法预览，可能是因为空间未绑定域名':'点击左侧文件名以查看信息'"></span>
								<!-- /ko -->
								<!-- ko if: $data.url() && !isImage($data.url()) -->
								<img class="file-prev" src="/static/theme/default/image/resource/no-prev.png"></img>
								<!-- /ko -->
							</div>
							<!-- ko with: $data.createTime() -->
							<p class="file-info-item">
								创建时间：<span class="file-create-time" data-bind="text: $data"> </span>
							</p>
							<!-- /ko -->
							<!-- ko with: $data.size() -->
							<p class="file-info-item">
								文件大小：<span class="file-size"> <span class="num" data-bind="text: $data.base"></span> <span class="unit" data-bind="text: $data.unit"></span></span>
							</p>
							<!-- /ko -->
						</div>
						{{/*}}
						<dl class="file-info-more">
							<dt class="info-more-title">查看EXIF信息</dt>
							<dd class="info-more-cnt"></dd>
						</dl>
						{{*/}}
					</div>
					<!-- /ko -->
				</div>
			</div>
			{{template "bucket_box_foot" .}}
			<div class="curtain">
				<div class="center-content">
					<div class="close-area"></div>
					<div class="ops-head">
						<select name="image-style">
							<option value="0">请选择图片样式</option>
						</select>
						<i class="icon-zoom-out"></i>
						<input type="text" value="100%">
						<i class="icon-zoom-in"></i>
						<i class="icon-full-screen"></i>
					</div>
					<div class="link-foot">
						<a href="">文件访问链接： http://localhost:8080/resource/?bucket=blog</a>
					</div>
					<div class="container">
						<img src="" alt="" class="file-prev">
					</div>
				</div>
			</div>

			<div id="curtain2" class="curtain">
				<div id="suspended-box" class="suspended-box upload-box">
					<div class="box-head">
						<h2 class="title">文件上传</h2>
						<a href="#"><i class="icon-close close-box"></i></a>
					</div>

					<div class="box-body">
						<div class="box-body-cnt">
							
							<p class="bg-word">点击“上传”按钮选择文件并上传</p>
							
							<ul class="up-files">
							{{/*}}
								<li class="up-file">
									<div class="progress-bar" style="width:40%"></div>
									<table class="up-info-table" cellpadding="0" cellspacing="0">
										<tbody>
											<tr class="file-info-row">
												<td width="70%">XXX.zip</td>
												<td width="25%">
													<span class="file-size-base">73.3</span>
													<span class="file-size-unit">MB</span>
												</td>
												<td rowspan="2" class="align_center">X</td>
											</tr>
											<tr>
												<td>
													<span class="up-size">
														<span class="up-size-base">20.0</span>
														<span class="up-size-unit">MB</span>
													</span>
													<span class="up-speed">
														<span class="up-speed-base">121</span>
														<span class="up-speed-unit">KB</span>
														/s
													</span>
												</td>
												<td>
													<span class="up-percent">33.2</span>
													%
												</td>
											</tr>
										</tbody>
									</table>
								</li>
							{{*/}}

								<div class="fieldset flash" id="fsUploadProgress">
								</div>
							</ul>
	
							

						</div>
					</div>
					<div class="box-foot">
						<p class="btn-line">
							<span class="select-file">
								<button class="btn left bg-btn">上传</button>
								<button id="spanButtonPlaceholder" class=""></button>
							</span>
							<button id="btnCancel" class="btn cancel-all" type="button" onclick="cancelQueue(upload);" disabled="disabled">全部取消</button>
							<button id="close" class="btn right">关闭</button>
						</p>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		var _uploadInfo = {
			token : {{if .Body.upload_token}}"{{.Body.upload_token}}"{{else}}""{{end}},
			url : {{if .Body.upload_url}}"{{.Body.upload_url}}"{{else}}""{{end}}
		};
		var _downloadInfo = {
	       	token : {{if .Body.download_token}}"{{.Body.download_token}}"{{else}}""{{end}},
	       	url : {{if .Body.download_url}}"{{.Body.download_url}}"{{else}}""{{end}}
	    };
		</script>
{{template "footer_main" .}}