{{template "header_main" .}}
<script type="text/javascript" language="javascript" src="/static/add-on/jquery-PrintArea/jquery.PrintArea.js"></script>
 <script language="javascript" type="text/javascript" src="/static/add-on/My97DatePicker/WdatePicker.js"></script>
<div class="main financial-bill">
	{{template "financial_head" .}}
						<div class="inner-block-head">
							<span class="left">选择对账年月：</span>
							<input id="billMonth" name="billMonth" type="text" class="small left" placeholder="对账年月">
							<button id="print" class="sp-btn right"><i class="icon-print"></i>打印</button>
							<button id="share" class="sp-btn right"><i class="icon-share"></i>转发</button>
						</div>
						<div class="inner-block-body printArea">
							<style>
								@media print{
									.bill{
										text-shadow:none;
										color:#333;
									}
									.bill-table{
										width: 100%;
										border: 1px solid #333;
										color: #333;
									}
									th, td{
										border: 1px solid #333;
									}
								}
							</style>
							<div class="bill">
								
								<div class="align_right bill-head">
									<span>账单编号：<span>38274</span>-<span>201203</span></span>
								</div>
								<h3 class="align_center">七牛云存储对账单</h3>
								<h4 class="align_center">2013年4月</h4>
								<p>本月总费用为：<span>￥<span>12345.00</span></span></p>
								<table class="bill-table" cellpadding="0" cellspacing="0">
									<thead>
										<tr>
											<th>交易号</th>
											<th>扣费金额</th>
											<!-- <th>账户余额</th> -->
											<th>交易时间</th>
											<th>来源</th>
										</tr>
									</thead>
									<tbody>
										<!-- ko foreach: bills -->
										<tr>
											<td data-bind="text: serial_num"></td>
											<td data-bind="text: money"></td>
											<!-- <td data-bind="text: balance"></td> -->
											<td data-bind="text: time"></td>
											<td data-bind="text: op"></td>
										</tr>
										<!-- /ko -->
										<!-- ko ifnot: bills().length -->
										<tr>
											<td colspan="4">没有记录</td>
										</tr>
										<!-- /ko -->
									</tbody>
								</table>
								<p class="align_right">上海七牛信息技术有限公司</p>
							</div>
						</div>
	{{template "financial_foot" .}}
</div>
{{template "footer_main" .}}
