{{template "header_main" .}}
 <script language="javascript" type="text/javascript" src="/static/add-on/My97DatePicker/WdatePicker.js"></script>
{{with .Body.payment}}
<script type="text/javascript">
var paymentType = {{json .}};
</script>
{{end}}
<div class="main financial-consumptions">
	{{template "financial_head" .}}
						<div class="inner-block-head">
							<span class="left">开始时间：</span>
							<input id="startDate" name="startDate" type="text" class="small left" placeholder="开始时间">
							<span class="left">结束时间：</span>
							<input id="endDate" name="endDate" type="text" class="small left" placeholder="结束时间">
							{{/*}}
							<select class="right">
								<option>所有类型</option>
							</select>
							{{*/}}
						</div>
						<div class="inner-block-body">
							<table class="recharges-table" cellpadding="0" cellspacing="0">
								<thead>
									<tr>
										<th>交易号</th>
										<th>扣费金额</th>
										<!-- <th>账户余额</th> -->
										<th>交易时间</th>
										<th>来源</th>
									</tr>
								</thead>
								<tbody>
									<!-- ko foreach: bills -->
									<tr>
										<td data-bind="text: serial_num"></td>
										<td data-bind="text: money"></td>
										<!-- <td data-bind="text: balance"></td> -->
										<td data-bind="text: time"></td>
										<td data-bind="text: op"></td>
									</tr>
									<!-- /ko -->
									<!-- ko ifnot: bills().length -->
									<tr>
										<td colspan="4">没有记录</td>
									</tr>
									<!-- /ko -->
								</tbody>
							</table>
						</div>
	{{template "financial_foot" .}}
</div>
{{template "footer_main" .}}
