{{template "header_main" .}}
<div class="main financial-price">
	{{template "financial_head" .}}
						<div class="inner-block-head">
							<span class="title">价格表</span>
							<a href="/financial/package" class="yellow-btn right head-link">购买优惠套餐</a>
						</div>
						<div class="inner-block-body">
							<h5 class="inner-block-body-title">
								计费方式 = “ 存储空间 + 流量 + 数据请求 ” 三者费用之和
							</h5>
							<!-- ko with: price -->
							<div class="price-blocks">
								<div class="price-block">
									<h4 class="price-block-title">存储空间：</h4>
									<table class="price-table" cellpadding="0" cellspacing="0">
										<thead>
											<tr>
												<th></th>
												<th>空间范围</th>
												<th>价格</th>
											</tr>
										</thead>
										<tbody>
											<!-- ko foreach: space -->
											<tr>
									      		<td></td>
												<!-- ko ifnot: $data.range==0 -->
										      		<!-- ko ifnot: $data.isLast -->
										      		<td data-bind="text: $data.min.format() + ' - ' + $data.max.format()"></td>
													<!-- /ko -->
													<!-- ko if: $data.isLast -->
										      		<td data-bind="text: '> ' + $data.min.format()"></td>
													<!-- /ko -->
												<!-- /ko -->
									      		<!-- ko if: $data.range==0 -->
										      		<td data-bind="text: '无限制'"></td>
												<!-- /ko -->
									      		<td><span class="val"><i class="icon-Y">￥</i><strong class="num" data-bind="text: $data.price"></strong> 元/GB/月</span></td>
									      	</tr>
											<!-- /ko -->
										</tbody>
									</table>
								</div>
								<div class="price-block">
									<h4 class="price-block-title">流量：</h4>
									<table class="price-table" cellpadding="0" cellspacing="0">
										<thead>
											<tr>
												<th></th>
												<th>流量范围</th>
												<th>价格</th>
											</tr>
										</thead>
										<tbody>

											<tr>
									      		<td>流入流量：</td>
									      		<td>无限制</td>
									      		<td><strong class="free">免费</strong></td>
									      	</tr>
									      	<!-- ko foreach: transferOut -->
											<tr>
									      		<td data-bind="text: ($index()==0 ? '流出流量：':'')"></td>
												<!-- ko ifnot: $data.range==0 -->
										      		<!-- ko ifnot: $data.isLast -->
										      		<td data-bind="text: $data.min.format() + ' - ' + $data.max.format()"></td>
													<!-- /ko -->
													<!-- ko if: $data.isLast -->
										      		<td data-bind="text: '> ' + $data.min.format()"></td>
													<!-- /ko -->
												<!-- /ko -->
									      		<!-- ko if: $data.range==0 -->
										      		<td data-bind="text: '无限制'"></td>
												<!-- /ko -->
									      		<td><span class="val"><i class="icon-Y">￥</i><strong class="num" data-bind="text: $data.price"></strong> 元/GB</span></td>
									      	</tr>
											<!-- /ko -->
									      	
										</tbody>
									</table>
								</div>
								<div class="price-block">
									<h4 class="price-block-title">数据请求：</h4>
									<table class="price-table" cellpadding="0" cellspacing="0">
										<thead>
											<tr>
												<th></th>
												<th>请求量</th>
												<th>价格</th>
											</tr>
										</thead>
										<tbody>
									      	<!-- ko foreach: apiPut -->
											<tr>
									      		<td data-bind="text: ($index()==0 ? 'PUT/DELETE':'')"></td>
									      		<!-- ko ifnot: $data.range==0 -->
										      		<!-- ko ifnot: $data.isLast -->
										      		<td data-bind="text: $data.min.format() + ' - ' + $data.max.format()"></td>
													<!-- /ko -->
													<!-- ko if: $data.isLast -->
										      		<td data-bind="text: '> ' + $data.min.format()"></td>
													<!-- /ko -->
												<!-- /ko -->
									      		<!-- ko if: $data.range==0 -->
										      		<td data-bind="text: '无限制'"></td>
												<!-- /ko -->
									      		<td><span class="val"><i class="icon-Y">￥</i><strong class="num" data-bind="text: $data.price"></strong> 元/千次请求</span></td>
									      	</tr>
											<!-- /ko -->
									      	<!-- ko foreach: apiGet -->
									      	<tr>
									      		<td data-bind="text: ($index()==0 ? 'GET':'')"></td>
									      		<!-- ko ifnot: $data.range==0 -->
										      		<!-- ko ifnot: $data.isLast -->
										      		<td data-bind="text: $data.min.format() + ' - ' + $data.max.format()"></td>
													<!-- /ko -->
													<!-- ko if: $data.isLast -->
										      		<td data-bind="text: '> ' + $data.min.format()"></td>
													<!-- /ko -->
												<!-- /ko -->
									      		<!-- ko if: $data.range==0 -->
										      		<td data-bind="text: '无限制'"></td>
												<!-- /ko -->
									      		<td><span class="val"><i class="icon-Y">￥</i><strong class="num" data-bind="text: $data.price"></strong> 元/千次请求</span></td>
									      	</tr>
											<!-- /ko -->
										</tbody>
									</table>
								</div>
							</div>
							<!-- /ko -->
						</div>
	{{template "financial_foot" .}}
</div>
{{template "footer_main" .}}
