{{template "header_main" .}}
 <script language="javascript" type="text/javascript" src="/static/add-on/My97DatePicker/WdatePicker.js"></script>
<div class="main financial-prize">
	{{template "financial_head" .}}
						<div class="inner-block-body">
							<p>当前有效优惠券：</p>
							<table class="voucher-table" cellpadding="0" cellspacing="0">
								<thead>
									<tr>
										<th>发生时间</th>
										<th>额度</th>
										<th>到期时间</th>
										<th>余额</th>
									</tr>
								</thead>
								<tbody>
									<!-- ko foreach: coupons -->
									<tr>
										<td data-bind="text: effecttime"></td>
										<td data-bind="text: quota"></td>
										<td data-bind="text: deadtime"></td>
										<td data-bind="text: balance"></td>
									</tr>
									<!-- /ko -->
									<!-- ko ifnot: coupons().length -->
									<tr>
										<td colspan="4">没有记录</td>
									</tr>
									<!-- /ko -->
								</tbody>
							</table>
							<p>使用抵用券</p>
							<div class="voucher-block">
								<input id="voucher-number-in" class="voucher-number-in" type="text" placeholder="请输入现金抵用券号码，以空格或逗号分隔多个号码">
								<p class="submit-line">
									<button id="use-voucher" disabled="disabled" class="btn use-voucher">使用抵用券</button>
								</p>
							</div>
						</div>
	{{template "financial_foot" .}}
</div>
{{template "footer_main" .}}
