{{template "header_main" .}}
<div class="main financial-recharge">
	{{template "financial_head" .}}
						<div class="inner-block-body">
							<form method="POST" onsubmit="return checkValid();">
							<h4>请选择充值方式</h4>
							<ul class="recharge-modes">
								{{range $k,$v :=.Body.payment}}
								<li class="recharge-mode">
									<input id="payment_type_{{$k}}" type="radio" value="{{$k}}" name="paymentType">
									<label for="payment_type_{{$k}}">
										<img src="/static/theme/default/image/financial/recharge/{{$k}}.png" title="{{$v}}" alt="{{$v}}" class="recharge-mode-pic">
									</label>
								</li>
								{{end}}
							</ul>
							<h4>请输入充值金额</h4>
							<input id="amountIn" type="text" placeholder="请输入充值金额" name="amount">
							<span class="error">
								{{with .Flash.error}}
								{{.}}
								{{end}}
							</span>
							<p class="submit-line">
								<button id="recharge" disabled="disabled" class="yellow-btn recharge-btn">马上充值</button>
								<a href="/financial/prize" class="right link">使用现金抵用券</a>
							</p>
							</form>
						</div>
						{{with .Flash.error}}
						<script type="text/javascript">
						console.log("{{.}}");
						</script>
						{{end}}
	{{template "financial_foot" .}}
</div>
{{template "footer_main" .}}
