{{template "header_main" .}}
<div class="main bucket-setting-advanced">
	{{template "bucket_setting_head" .}}
	<div class="setting-block">
		<dl class="dangerous setting-item delete-item">
			<dt>永久删除空间</dt>
			<dd>点击以下的删除空间按钮将永久删除空间< {{.GET.Get "bucket"}} >。</dd>
			<dd>删除操作不可撤销，请确认此操作的必要性！除非数据已经有完整备份，或者明确为没有价值的测试用数据，否则我们强烈建议永久保留。</dd>
			<p class="promise align_center">
				<input id="agree_input" type="checkbox" name="agree">
				<label for="agree_input">我已了解此操作的危险性，仍然希望删除此空间。</label>
			</p>
			<p class="align_center"><button id="delete-bucket" class="danger-btn submit" disabled="disabled">X 永久删除此空间</button></p>
		</dl>
	</div>
	{{template "bucket_setting_foot" .}}
</div>
{{template "footer_main" .}}