{{template "header_main" .}}
<script type="text/javascript" src="/static/add-on/base64/jquery.base64.min.js"></script>
<div class="main bucket-setting-base">
	{{template "bucket_setting_head" .}}
					<div class="tabs-box">
						<ul class="tabs-header">
							<li class="tab-header current">样式分隔符</li>
						</ul>
						<ul class="tabs-body">
							<li class="tab-body current">
								<!-- ko with: certainBucket -->
								<p class="current-setting">
									当前设置的样式分隔符为：
									<span class="current-setting-cnt">
										<!-- ko if: !$data.separator().length -->
										<i class="style-delimiter none">无</i>
										<!-- /ko -->
										<!-- ko foreach: separator -->
										<i class="style-delimiter" data-bind="text: $data"></i>
										<!-- /ko -->
									</span>
								</p>
								<p class="">已选分隔符样例：</p>
								<ul>
									<li>文件访问路径格式： http://绑定域名/文件名称 + 分隔符 + 处理样式名</li>
									<li>如文件名称为gopher.jpg 处理的样式名称为small.jpg，分隔符应用样例如下：</li>
								</ul>
								<div class="setting-prevs-block">
									<ul class="setting-prevs">
										<!-- ko if: !$data.separator().length -->
										<li class="setting-prev none">无</li>
										<!-- /ko -->
										<!-- ko foreach: separator -->
										<li class="setting-prev">
											http://devtools.qiniudn.com/gopher.jpg<span class="pos-r"><span data-bind="text: $data"></span><!-- ko if: $index()==0 --><span class="bubble">分隔符</span><!-- /ko --></span>small.jpg
										</li>
										<!-- /ko -->
									</ul>
								</div>
								<ul>
									<li>1. 为避免歧义，处理样式名中不可出现当前所启用的间隔标志符。</li>
									<li>2. 更改分隔符需一键清楚缓存，全网生效至少需要5分钟。</li>
								</ul>
								<!-- /ko -->
								<a id="set-style" class="btn set-btn">更改样式</a>

							</li>
						</ul>
					</div>
	{{template "bucket_setting_foot" .}}
	<div id="curtain" class="curtain">
		<div id="suspended-box" class="suspended-box">
			<div class="box-head">
				<h2 class="title">分隔符设置</h2>
				<a href="#"><i id="close-btn" class="icon-close close-box"></i></a>
			</div>

			<div class="box-body">
				<div class="box-body-cnt">
					<p class="op-guide">请通过勾选来启用或禁用相应的分隔符：</p>
					<div id="ops-block" class="ops-block">
						{{range $index, $element := .Body.StyleSeparatorCate}}
						<label for="delimiter{{$index}}" class="delimiter-op" style="margin-left:0">
							<input id="delimiter{{$index}}" name="delimiter" type="checkbox" value="{{$element.value}}" data-bind='checked: certainBucket().separator().indexOf("{{$element.value}}")>=0'>
							{{.name}}
						</label>
						{{end}}
					</div>
					<p class="attention">
						<span class="attention-title">温馨提醒：</span>
						取消对某间隔符的支持将立刻导致所有使用该连接符的URL无效，这可能导致产品功能异常
					</p>
				</div>
			</div>
			<div class="box-foot">
				<button id="sep-submit" class="btn submit">确认修改</button>
				<button class="cancel">放弃并返回</button>
			</div>
		</div>
	</div>
</div>
{{template "footer_main" .}}
