{{define "bucket_setting_head"}}
	{{template "bucket_box_head" .}}
			<div class="cnt right-main-layout">
				<div class="left-cnt">
					{{$bucketName := .GET.Get "bucket"}}
					<ul class="choices">
						<a href="/bucket/setting/base{{with $bucketName}}?bucket={{.}}{{end}}" class="choice"><li class="">
							<h4 class="choice-title">分隔符</h4>
							<p class="choice-description">分隔符配置功能</p>
						</li></a>
						<a href="/bucket/setting/domain-bind{{with $bucketName}}?bucket={{.}}{{end}}" class="choice"><li class="">
							<h4 class="choice-title">域名绑定</h4>
							<p class="choice-description">使用自定义域名访问资源</p>
						</li></a>
						<a href="/bucket/setting/visit-ctr{{with $bucketName}}?bucket={{.}}{{end}}" class="choice"><li class="">
							<h4 class="choice-title">访问控制</h4>
							<p class="choice-description">黑名单，白名单，源图保护等</p>
						</li></a>
						<a href="/bucket/setting/advanced{{with $bucketName}}?bucket={{.}}{{end}}" class="choice"><li class="">
							<h4 class="choice-title">高级设置</h4>
							<p class="choice-description">删除空间等非常规操作</p>
						</li></a>
					</ul>
				</div>
				<div class="right-cnt">
{{end}}

{{define "bucket_setting_foot"}}
				</div>
			</div>
	{{template "bucket_box_foot" .}}
{{end}}