{{template "header_main" .}}
<div class="main setting-message">
	{{template "setting_head" .}}
					<div class="inner-block">
						<table class="setting-message-table" cellpadding="0" cellspacing="0">
							<thead>
								<tr>
									<th width="60%"></th>
									<th width="10%">邮件</th>
									<th width="10%">短信</th>
									<th width="10%">GTalk</th>
									<th width="10%">微信</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>财务通知</td>
								</tr>
								<tr>
									<td>账单余额低于，或账单余额只能使用最多天</td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
								</tr>
								<tr>
									<td>限期优惠活动或任何其他可降低成本的活动通知</td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
								</tr>
								<tr>
									<td>月度对账单，于每月第 个工作日发送</td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
								</tr>
								<tr>
									<td>技术通知</td>
								</tr>
								<tr>
									<td>系统计划维护通知</td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
								</tr>
								<tr>
									<td>一小时内的流量变化超过</td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
								</tr>
								<tr>
									<td>当日累积流量大于</td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
								</tr>
								<tr>
									<td>各类七牛举办或邀请的技术类活动信息</td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
								</tr>
								<tr>
									<td>最佳技术实践与教程邮件</td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
								</tr>
								<tr>
									<td>产品新功能发布通告</td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
									<td><input type="checkbox" class=""></td>
								</tr>
							</tbody>
						</table>
					</div>
	{{template "setting_foot" .}}
</div>
{{template "footer_main" .}}