{{define "setting_head"}}
	{{template "index_box_head" .}}
			<div class="cnt right-main-layout">
				<div class="left-cnt">
					<ul class="choices">
						<a href="/setting/base" class="choice"><li class="">
							<h4 class="choice-title">基本设置</h4>
							<p class="choice-description">基本账号信息的查看和管理</p>
						</li></a>
						<a href="/setting/key" class="choice"><li class="">
							<h4 class="choice-title">秘钥</h4>
							<p class="choice-description">查看和管理AccessKey/SecretKey</p>
						</li></a>
						{{/*}}
						<a href="/setting/message" class="choice"><li class="">
							<h4 class="choice-title">提醒</h4>
							<p class="choice-description">设置邮件和短信提醒服务</p>
						</li></a>
						<a href="/setting/contact" class="choice"><li class="">
							<h4 class="choice-title">联系人管理</h4>
							<p class="choice-description">各类事务相应人员的联系方式</p>
						</li></a>
						{{*/}}
					</ul>
				</div>
				<div class="right-cnt">
					<div class="inner-block">
{{end}}

{{define "setting_foot"}}
					</div>
				</div>
			</div>
	{{template "index_box_foot" .}}
{{end}}