{{template "header_main" .}}
<div class="main bucket-create">
	<div class="center-content">
		<form method="POST" class="block newbucket-form" action="" onsubmit="return checkValid();">
			<h3 class="title">创建一个新空间</h3>
			<input id="bucketname-in" name="bucketname" type="text" placeholder="请输入空间名称"/>
			<p class="tip">空间名由数字、字母、+、-组成，且不以+、-开头</p>
			<p class="error">
			{{with .Flash.error}}
				{{.}}
			{{end}}
			</p>
			<div class="align_center line">
				<input class="btn" type="submit" value="创建空间" />
			</div>
		</form>
	</div>	
</div>
{{template "footer_main" .}}
