{{template "header_main" .}}
{{$bucketName := .GET.Get "bucket"}}
<script type="text/javascript" language="javascript" src="/static/add-on/highcharts/2.3.5/js/highcharts.js"></script>
<div class="main bucket-index">
	{{template "bucket_box_head" .}}
			<div class="cnt right-main-layout">
				<div class="left-cnt">
					<div class="info">
						<!-- ko with: certainBucket -->
						<p class="title">< <span class="bucket_name">{{.GET.Get "bucket"}}</span> ><br/>空间使用概况</p>
						<p class="period">{{UnixToStr (StrToUnix "now") "2006年01月"}}01日-{{UnixToStr (StrToUnix "now") "2006年01月02日"}}</p>
						<p class="name">文件存储</p>
						<p class="num" data-bind="with: $data.storage"><span data-bind="html: base"></span><i class="unit" data-bind="text: unit"></i></p>
						<p class="name">下载流量</p>
						<p class="num" data-bind="with: $data.download"><span data-bind="html: base"></span><i class="unit" data-bind="text: unit"></i></p>
						<p class="name">API请求</p>
						<p class="num" data-bind="with: $data.apiQuery"><span data-bind="html: base"></span><i class="unit" data-bind="text: unit"></i></p>
						<p><a class="btn more" href="report/{{with $bucketName}}?bucket={{.}}{{end}}">查看详细使用情况</a></p>
						<!-- /ko -->
					</div>
					<div class="end"></div>
				</div>
				<div class="right-cnt">
					{{/*}}
					<h4 class="notice ">
						<i class="icon-report"></i>
						当前账户余额仅够支持大约7天使用，请及时
						<a href="" class="normal-link">充值</a>
						以免服务中断，
						<a href="" class="normal-link">查看详细账单</a>
						。
						<i class="icon-close right link close-notice"></i>
					</h4>
					<h4 class="notice recommend">
						<i class="icon-report"></i>
						当前账户余额仅够支持大约7天使用，请及时
						<a href="" class="normal-link">充值</a>
						以免服务中断，
						<a href="" class="normal-link">查看详细账单</a>
						。
						<i class="icon-close right link close-notice"></i>
					</h4>
					{{*/}}
					<ul class="cards">
						<a class="no_style" href="report/storage{{with $bucketName}}?bucket={{.}}{{end}}">
							<li class="card chart-card">
								<h3 class="title">文件存储</h3>
								<div id="space-chart" class="chart"></div>
							</li>
						</a>
						<a class="no_style" href="report/flow{{with $bucketName}}?bucket={{.}}{{end}}">
							<li class="card chart-card">
								<h3 class="title">下载流量</h3>
								<div id="transfer-chart" class="chart"></div>
							</li>
						</a>
						<a class="no_style" href="report/requestnum{{with $bucketName}}?bucket={{.}}{{end}}">
							<li class="card chart-card">
								<h3 class="title">API请求</h3>
								<div id="apicall-chart" class="chart"></div>
							</li>
						</a>
					</ul>
				</div>
			</div>
	{{template "bucket_box_foot" .}}
</div>
{{template "footer_main" .}}
