{{template "header_main" .}}
<div class="main fndpwd">
	<div class="center-content">
		<form class="block setpwd-form" method="post" action="">
			<h3 class="title">找回密码</h3>
			<div class="line pwd-line">
				<p class="extra-name">输入新密码:<i class="need">*</i></p>
				<input name="new_password" type="password" placeholder="" />
				<i title="按住显示" class="icon-eye show-pwd"></i>
			</div>
			{{with .Flash.error}}
			<p class="error">
				{{.}}
			</p>
			{{end}}
			<div class="align_center line">
            	<input type="hidden" name="token" value="{{.Body}}" />
				<button class="btn fndpwd" type="submit">提交</button>
			</div>
		</form>
	</div>	
</div>
{{template "footer_main" .}}
