{{template "header_main" .}}
<script type="text/javascript" language="javascript" src="/static/add-on/highcharts/2.3.5/js/highcharts.js"></script>
<div class="main index">
	{{template "index_box_head" .}}
			<div class="cnt right-main-layout">
				<div class="left-cnt">
					<div class="balance">
						<p class="title">账户余额</p>
						<p class="num"><i class="RMB">￥</i><span data-bind="html: balance().amount"></span><i class="unit">元</i></p>
						<p><a href="/financial/recharge" class="btn recharge">充值</a></p>
					</div>
					<div class="info">
						<p class="title">使用概况</p>
						<p class="period">{{UnixToStr (StrToUnix "now") "2006年01月"}}01日-{{UnixToStr (StrToUnix "now") "2006年01月02日"}}</p>
						<p class="name">文件存储</p>
						<p class="num" data-bind="with: storage"><span data-bind="html: base"></span><i class="unit" data-bind="html: unit"></i></p>
						<p class="name">下载流量</p>
						<p class="num" data-bind="with: download"><span data-bind="html: base"></span><i class="unit" data-bind="html: unit"></i></p>
						<p class="name">API请求</p>
						<p class="num" data-bind="with: apiQuery"><span data-bind="html: base"></span><i class="unit" data-bind="html: unit"></i></p>
						<p><a href="/report/main" class="btn more">查看详细使用情况</a></p>
					</div>
					<div class="end"></div>
				</div>
				<div class="right-cnt">
{{/*}} 
					<h4 class="notice">
						<i class="icon-report"></i>
						当前账户余额仅够支持大约7天使用，请及时
						<a href="" class="normal-link">充值</a>
						以免服务中断，
						<a href="" class="normal-link">查看详细账单</a>
						。
						<i class="close-notice" class="icon-close right link"></i>
					</h4>
					{{*/}}
					<ul class="cards">
						<!-- ko foreach: buckets -->
						<!-- ko if: $data -->
						<a href="" data-bind="attr: { href: '/bucket/index?bucket='+name(), title: name }">
						<li class="card bucket-info" data-bind="attr: {id: 'bucket-'+$data.name()}">
							<!-- ko if: private -->
							<div class="lock"></div>
							<!-- /ko -->
							<div class="up">
									<div class="bucket-name" data-bind="attr: {title: name}">
										<span class="bucket-name-span" data-bind="html: name"></span>
									</div>
								<div class="bucket-chart" data-bind="attr: {id: name()+'-chart'}">
									<p style="line-height:97px;text-align:center;color: #AAA;">统计信息加载中...</p>
								</div>
							</div>
							<div class="down">
								<div class="bucket-data">
									<p class="data-name">文件存储</p>
									<p data-bind="with: storage"><span class="data-num" data-bind="html: base"></span><i class="data-unit" data-bind="text: unit"></i></p>
								</div>
								<div class="bucket-data">
									<p class="data-name">下载流量</p>
									<p data-bind="with: download"><span class="data-num" data-bind="html: base"></span><i class="data-unit" data-bind="text: unit"></i></p>
								</div>
								<div class="bucket-data">
									<p class="data-name">API请求</p>
									<p data-bind="with: apiQuery"><span class="data-num" data-bind="html: base"></span><i class="data-unit" data-bind="text: unit"></i></p>
								</div>
							</div>
						</li>
						</a>
						<!-- /ko -->
						<!-- /ko -->
						<li class="card new-bucket">
							<a href="/bucket/create">
								<span class="plus">+</span>
								<span class="word">新建空间</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
	{{template "index_box_foot" .}}
</div>
{{template "footer_main" .}}
