{{template "header_main" .}}
<div class="main register">
	<div class="center-content">
		<form class="block register-form" method="post" action="">
			<h3 class="title">注册</h3>

			{{with .Flash.error}}
			<p class="error">
				{{.}}
			</p>
			{{end}}

			<div class="line">
				<p class="extra-name">请输入邮箱（将作为您的登陆帐号）:<i class="need">*</i></p>
				<input name="email" type="text" placeholder="email" />
				<a class="right" href="/fgtpwd">找回密码</a>
				<a class="right" href="/signin">直接登录</a>
				<span class="right error"></span>
			</div>
			<div class="line pwd-line">
				<p class="extra-name">设定登录密码:<i class="need">*</i></p>
				<input name="password" type="password" placeholder="password" />
				<i title="按住显示" class="icon-eye show-pwd"></i>
			</div>
			{{/*}}
			<div class="line acc-line">
				<span class="name">帐号类型:<i class="need">*</i></span>
				<div id="acc-type-value" class="hidden">
					<input type="radio" name="acc_type" value='1' checked="true">
					<input type="radio" name="acc_type" value='0'>
				</div>
				<div id="acc-type-setter" class="acc-types">
					<div class="acc-type active" value='1' >企业开发者</div>
					<div class="acc-type" value='0' >个人开发者</div>
				</div>
			</div>
			{{*/}}
			<input type="hidden" name="acc_type" value="1">

			<div class="line name-line">
				<span class="name">联系人:<i class="need">*</i></span>
				<input class="small" name="name" type="text" placeholder="姓名"/>
				<select name="sex">
					<option value="先生">先生</option>
					<option value="女士">女士</option>
				</select>
			</div>

			<div class="line phone-line">
				<span class="name">联系电话:<i class="need">*</i></span>
				<input class="small" name="phone" type="text" placeholder="手机号码"/>
			</div>

			<div class="line IM-line">
				<span class="name">即时通讯:<i class="need">*</i></span>
				<input class="small" name="IM" type="text" placeholder="实时通信联系方式"/>
				<select name="IMtype">
	                {{OptionsForSelect .Body.ImCate ""}}
				</select>
			</div>

			<div class="line com-line">
				<span class="name">公司:</span>
				<input class="small" name="com" type="text" placeholder="公司全名，个人可留白"/>
			</div>

			<div class="line site-line">
				<span class="name">主页:</span>
				<input class="small" name="site" type="text" placeholder="公司主页，个人可输入个人主页或微博地址"/>
			</div>

			<div class="line invite-line">
				<span class="name">推荐码:</span>
				<input class="small" name="invite" type="text" value="{{.GET.Get "code"}}" placeholder="如果有推荐码，请填写，可以为空"/>
			</div>

			<div class="line vertification-line">
				<span class="name">验证码:<i class="need">*</i></span>
				<input class="small" name="vertification" type="text" placeholder="验证码"/>
				<img id="vertification-pic" class="vertification-pic link" title="点击刷新" alt="验证码" src="/verifycode">
				<span id="refresh-vertification" class="abright normal-link">点击刷新</span>
			</div>

			<div class="align_center line register-line">
				<button class="btn register" type="submit">注册</button>
			</div>
			
		</form>
	</div>	
</div>
{{template "footer_main" .}}

