{{template "header_main" .}}
<div class="main login">
	<div class="center-content">
		<form method="POST" enctype="multipart/form-data" class="block login-form" action="">
			<h3 class="title">登录</h3>
			<input name="username" type="text" placeholder="email"/>
			<input name="password" type="password" placeholder="password"/>

			<div class="line">
				<input id="if-remember" type="checkbox" name="remember" value="true"/>
				<label class="tip link" for="if-remember">一周内自动登录</label>
				<a class="abright" href="/fgtpwd">忘记密码</a>
			</div>
			{{if op ">=" .Session.auth_failed_num .Session.allow_auth_failed_num}}
			<div class="line vertification-line">
				<span class="name">验证码:</span>
				<input class="small" name="vertification" type="text" placeholder="验证码"/>
				<img id="vertification-pic" class="vertification-pic link" title="点击刷新" alt="验证码" src="/verifycode">
				<span id="refresh-vertification" class="abright normal-link">点击刷新</span>
			</div>
			{{end}}

			<p class="error">
			{{with .Flash.error}}
				{{.}}
			{{end}}
			</p>

			<div class="align_center line">
				<button class="btn login" type="submit">确认登录</button>
				<a class="abright register" href="/signup">注册帐号</a>
			</div>
		</form>
	</div>	
</div>
{{template "footer_main" .}}
