# mongodb.conf

# Where to store the data.
--dbpath /disk3/mgo/

--rest

#where to log
--logpath log/mgo.log
--logappend

# host & port
--bind_ip 127.0.0.1
--port 27017

# Custom size for replication operation log.
--oplogSize 30720

--fork
