{{define "develop_head"}}
	<div class="center-content">
		<div class="box">
			<div class="left-cnt">
				<div class="search-area">
					<input type="text" class="search-in" placeholder="搜索相应文档">
					<span class="search-btn"></span>
				</div>
				<ul class="choices">
					<a href="/develop/index" class="choice">
						<li>开发者首页</li>
					</a>
					<a href="/develop/tutorial" class="choice">
						<li>新手上路</li>
					</a>
					<a href="/develop/api" class="choice">
						<li>RESTFUL API</li>
					</a>
					<a href="/develop/sdk" class="choice">
						<li>SDK</li>
					</a>
					<a href="/develop/tools" class="choice">
						<li>工具下载</li>
					</a>
				</ul>
			</div>
			<div class="right-cnt">
{{end}}

{{define "develop_foot"}}
			</div>
		</div>
	</div>
{{end}}
