{{template "header_main" .}}
<div class="main develop-index">
	{{template "develop_head" .}}
	<ul>
		<li class="part tutorial">
			<h3 class="title">新手上路</h3>
			<ol class="cnt">
				<li>
					<a href="/develop/tutorial#1">1.注册七牛云</a>
				</li>
				<li>
					<a href="/develop/tutorial#2">2.登录七牛云</a>
				</li>
				<li>
					<a href="/develop/tutorial#3">3.创建空间</a>
				</li>
				<li>
					<a href="/develop/tutorial#4">4.上传文件</a>
				</li>
				<li>
					<a href="/develop/tutorial#5">5.查看文件</a>
				</li>
				<li>
					<a href="/develop/tutorial#6">6.删除文件</a>
				</li>
				<li>
					<a href="/develop/tutorial#7">7.删除空间</a>
				</li>
			</ol>
		</li>
		<li class="part api">
			<h3 class="title">RESTFUL API</h3>
			<ul class="cnt">
				<li>
					<a href="">1.应用接入与认证授权</a>
				</li>
				<li>
					<a href="">2.云存储接口</a>
				</li>
				<li>
					<a href="">3.图像处理接口</a>
				</li>
				<li>
					<a href="">4.音视频处理接口</a>
				</li>
				<li>
					<a href="">5.理解常用术语</a>
				</li>
				<li>
					<a href="">6.错误码参照表</a>
				</li>
			</ul>
		</li>
		<li class="part sdk">
			<h3 class="title">SDK</h3>
			<ul class="cnt">
				<li>
					<img class="logo" src="/static/theme/default/image/develop/ruby.png" alt="ruby">
					<dl>
						<dt>Ruby</dt>
						<dd>
							<a href="">文档</a>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
				<li>
					<img class="logo" src="/static/theme/default/image/develop/perl.png" alt="perl">
					<dl>
						<dt>Perl</dt>
						<dd>
							<a href="">文档</a>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
				<li>
					<img class="logo" src="/static/theme/default/image/develop/java.png" alt="java">
					<dl>
						<dt>Java</dt>
						<dd>
							<a href="">文档</a>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
				<li>
					<img class="logo" src="/static/theme/default/image/develop/python.png" alt="python">
					<dl>
						<dt>Python</dt>
						<dd>
							<a href="">文档</a>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
				<li>
					<img class="logo" src="/static/theme/default/image/develop/.net.png" alt="c#">
					<dl>
						<dt>C#/.NET</dt>
						<dd>
							<a href="">文档</a>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
				<li>
					<img class="logo" src="/static/theme/default/image/develop/php.png" alt="php">
					<dl>
						<dt>PHP5/5.3</dt>
						<dd>
							<a href="">文档</a>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
				<li>
					<img class="logo" src="/static/theme/default/image/develop/go.png" alt="go">
					<dl>
						<dt>Go</dt>
						<dd>
							<a href="">文档</a>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
				<li>
					<img class="logo" src="/static/theme/default/image/develop/c.png" alt="c">
					<dl>
						<dt>C/C++</dt>
						<dd>
							<a href="">文档</a>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
				<li>
					<img class="logo" src="/static/theme/default/image/develop/node.js.png" alt="node.js">
					<dl>
						<dt>Node.js</dt>
						<dd>
							<a href="">文档</a>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
				<li>
					<img class="logo" src="/static/theme/default/image/develop/android.png" alt="android">
					<dl>
						<dt>Android</dt>
						<dd>
							<a href="">文档</a>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
				<li>
					<img class="logo" src="/static/theme/default/image/develop/ios.png" alt="ios">
					<dl>
						<dt>IOS</dt>
						<dd>
							<a href="">文档</a>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
			</ul>
		</li>
		<li class="part tools">
			<h3 class="title">工具下载</h3>
			<ul class="cnt">
				<li>
					<img class="logo" src="/static/theme/default/image/develop/linux.png" alt="linux 64">
					<dl>
						<dt>Linux 64位</dt>
						<dd>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
				<li>
					<img class="logo" src="/static/theme/default/image/develop/linux.png" alt="linux 32">
					<dl>
						<dt>Linux 32位</dt>
						<dd>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
				<li>
					<img class="logo" src="/static/theme/default/image/develop/mac.png" alt="mac 64">
					<dl>
						<dt>Mac 64位</dt>
						<dd>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
				<li>
					<img class="logo" src="/static/theme/default/image/develop/win.png" alt="win 64">
					<dl>
						<dt>Win 64位</dt>
						<dd>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
				<li>
					<img class="logo" src="/static/theme/default/image/develop/win.png" alt="win 32">
					<dl>
						<dt>Win 32位</dt>
						<dd>
							<a href="">下载</a>
						</dd>
					</dl>
				</li>
			</ul>
		</li>
	</ul>
	{{template "develop_foot" .}}
</div>
{{template "footer_main" .}}