{{template "header_main" .}}
<div class="main develop-tutorial">
	{{template "develop_head" .}}
		<h3>新手上路</h3>
		<ol>
			<li>
				注册七牛云
				<ol>
					<li>
						在
						<a href="/signup" target="_blank">注册页面</a>
						进行注册。
					</li>
					<li>
						填写资料后，系统将会向你的注册邮箱发送一封确认邮件。
						<img src="http://portal-files.qiniudn.com/新手上路/注册01.jpg" alt="注册01">
					</li>
					<li>确认后即可使用用户名和密码登录七牛云。</li>
				</ol>
			</li>
			<li>
				登录七牛云
				<ol>
					<li>
						在
						<a href="/signin" target="_blank">登录页面</a>
						进行登录。
					</li>
					<li>登录成功时，访问到账户的首页如下。
						<img src="http://portal-files.qiniudn.com/新手上路/登录02.jpg" alt="登录02">
					</li>
				</ol>
			</li>
			<li>
				创建空间
				<ul>
					<li>点击“新建空间”
						<img src="http://portal-files.qiniudn.com/新手上路/创建01.jpg" alt="创建01">
					</li>
					<li>输入空间的名称。
						<img src="http://portal-files.qiniudn.com/新手上路/创建02.jpg" alt="创建02">
					</li>
					<li>创建成功后出现提示。
						<img src="http://portal-files.qiniudn.com/新手上路/创建03.jpg" alt="创建03">
					</li>
					<li>创建空间成功后跳转至空间首页。
						<img src="http://portal-files.qiniudn.com/新手上路/创建04.jpg" alt="创建04">
					</li>
				</ul>
			</li>
			<li>
				上传文件
				<ul>
					<li>点击内容管理，可看到当前空间文件的文件情况。
						<img src="http://portal-files.qiniudn.com/新手上路/上传01.jpg" alt="上传01">
					</li>
					<li>空间首页提示现在还没有文件，点击上传按钮
						<img src="http://portal-files.qiniudn.com/新手上路/上传02.jpg" alt="上传02">
					</li>
					<li>选择文件
						<img src="http://portal-files.qiniudn.com/新手上路/上传03-1.jpg" alt="上传03-1">
						<img src="http://portal-files.qiniudn.com/新手上路/上传03-2.jpg" alt="上传03-2">
					</li>
					<li>上传文件
						<img src="http://portal-files.qiniudn.com/新手上路/上传04.jpg" alt="上传04">
					</li>
					<li>当文件出现在列表中时，上传已经成功。
						<img src="http://portal-files.qiniudn.com/新手上路/上传05.jpg" alt="上传05">
					</li>
				</ul>
			</li>
			<li>
				查看一个文件
				<ul>
					<li>列表中可查看上传成功的文件。</li>
					<li>点击文件列表中的文件，可在右侧预览文件的信息；若文件是图片，可在右侧浏览缩略图。</li>
					<li>点击右侧图片的缩略图查看图片原图。
						<img src="http://portal-files.qiniudn.com/新手上路/查看01.jpg" alt="查看01">
					</li>
				</ul>
			</li>
			<li>
				删除一个文件
				<ul>
					<li>点选将要删除的文件。</li>
					<li>点击下拉箭头，点选删除进行操作。
						<img src="http://portal-files.qiniudn.com/新手上路/删除01.jpg" alt="删除01">
					</li>
				</ul>
			</li>
			<li>
				删除空间
				<ul>
					<li>进入空间设置。
						<img src="http://portal-files.qiniudn.com/新手上路/删除空间01.jpg" alt="删除空间01">
					</li>
					<li>点击高级设置，阅读条款之后，确认需要执行删除再进行。
						<img src="http://portal-files.qiniudn.com/新手上路/删除空间02.jpg" alt="删除空间02">
					</li>
					<p class="warn">
						提示：删除操作是不可逆的，请再三确认再进行操作。
					</p>
				</ul>
			</li>
		</ol>
	{{template "develop_foot" .}}
</div>
{{template "footer_main" .}}